@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-color: #333;

    --bg-color: #d4d3d3;
    --btn-color: #b31217;
    --btn-hover_color: #7e0705;

    --task-bg-title: #5f676e;
    --task_card-color: #687179;
    --task_card-border_title: #555;
    --task_card-important: #6A0000;
}

body{
    color: var(--font-color);
    background-color: var(--bg-color);
    letter-spacing: 0.050rem;
    font-family: 'Montserrat', sans-serif;
}

.hero-title{
    font-weight: normal;
    letter-spacing: 0.13rem;
    font-family: 'Patua One', cursive;
}
legend{
    font-weight: bolder;
}

/* input section */
.task-section{
    margin-top: 0.5rem;
    gap: 1rem;
    flex-direction: column;
    padding: 1.25em;
}
/* form */
.form-input{
    position: relative;
    align-items: initial;
    flex-direction: column;
    gap: 0.45em;
}

.warning{
    display: none;
    font-size: 0.75rem;
    font-weight: bolder;
    align-self: center;
    text-align: center;
    padding: 0.1rem 1rem;
    color: var(--btn-color);
    /* border: 2px solid rgb(245, 245, 2); */
}

.vibration{
    display: block;
    animation: shake 0.1s;
    animation-iteration-count: 3;
}
@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

.input-title{
    position: relative;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 0.15rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.input-title:focus{
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}
.input-title ~ .focus-border{
    position: absolute;
    top: 3.325rem;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.15rem;
    transition: 0.4s;
    border-radius: 0.15rem;
    
    background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A);
}
.input-title:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
}

.input-area{
    padding: 0.5rem;
    border: none;
    border-radius: 0.15rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.input-area:focus{
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 7px 13px -3px, rgba(0, 0, 0, 0.15) 0px -3px 0px inset;
}

.input-title:focus,.input-area:focus{
    outline: none;
}

.btn{
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;

    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.19);
    
    padding: 0.5em 1.5em;
    background: var(--btn-color);
    box-shadow: rgba(150, 0, 0, 0.4) 0px 2px 4px, rgba(150, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}
.btn-outline:hover{
    background: var(--btn-hover_color);
    transition: all 0.4s ease-in;
    transform: scale3d(1.1, 1.1, 1.1);
}

/* tasks section */
.task-container{
    padding: 1em;
}

.task-list{
    gap: 1em;
    list-style: none;
    transform-style: preserve-3d;
    perspective: 10rem;
}

/* .task{
    padding: 1em;
    gap: 1em;
    flex-direction: column;
    align-items: initial;
}
.task-card{
    background: var(--task_card-color);
}

.task-title{
    border-bottom: var(--task_card-border_title) solid 1px;
}
.task-card:hover{
    transition: 0.3s;
    transform: translate3d( 0px, -8px, 2px);
} */