.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
@media screen and (max-width: 600px){
    .grid{
        grid-template-columns: 1fr;
    }
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}